.shad {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.49);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.49);
}
:root {
  --colHead: #e3f2fd;
}
body {
  background-color: #ffffff56;
}
.header {
  background: #3932ff;
  background: -moz-linear-gradient(
    top,
    #3932ff 0%,
    #ffffff 50%,
    #ffffff 50%,
    #ffffff 50%,
    #ffffff 50%,
    #ffffff 50%,
    #e9ff00 100%
  );
  background: -webkit-linear-gradient(
    top,
    #3932ff 0%,
    #ffffff 50%,
    #ffffff 50%,
    #ffffff 50%,
    #ffffff 50%,
    #ffffff 50%,
    #e9ff00 100%
  );
  background: linear-gradient(
    to bottom,
    #3932ff 0%,
    #ffffff 50%,
    #ffffff 50%,
    #ffffff 50%,
    #ffffff 50%,
    #ffffff 50%,
    #e9ff00 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3932ff', endColorstr='#e9ff00',GradientType=0 );

  border-radius: 2px;
  padding: 10px;
}
#images {
  border: outset 2px rgb(255, 255, 255);
}
@media screen and (max-width: 576px) {
  .images {
    display: none;
  }
}

.header_lesson {
  background: #ff3232;
  background: -moz-linear-gradient(
    top,
    #ff3232 1%,
    #ffffff 40%,
    #ffffff 60%,
    #008cff 100%
  );
  background: -webkit-linear-gradient(
    top,
    #ff3232 1%,
    #ffffff 40%,
    #ffffff 60%,
    #008cff 100%
  );
  background: linear-gradient(
    to bottom,
    #ff3232 1%,
    #ffffff 40%,
    #ffffff 60%,
    #008cff 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#008cff',GradientType=0 );
  border-radius: 2px;
  padding: 10px;
}
.car {
  margin: auto;
}
.btncar {
  background-color: #176fa2;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin-top: 130px;
}



.hov {
  overflow: hidden;
}

img {
  transition: transform 0.25s;
}

.hov:hover a img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.hov:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.lin:hover {
background-color: rgb(255, 0, 0);
color: rgb(255, 255, 255);
border-radius: 3px;
}
.nav-link:hover {
background-color: #cdeaff;
color: #101b24;
border-radius: 5px;
}

iframe:hover {
	-webkit-animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.bounce-out-right {
	-webkit-animation: bounce-out-right 1.5s both;
	        animation: bounce-out-right 1.5s both;
}

